windows_kinect/KinectRgbdInteraction/.vs
windows_kinect/KinectRgbdInteraction/KinectRgbdInteraction/bin
windows_kinect/KinectRgbdInteraction/KinectRgbdInteraction/obj
windows_kinect/KinectRgbdInteraction/packages
windows_kinect/KinectMicrophoneInteraction/.vs
windows_kinect/KinectMicrophoneInteraction/KinectMicrophoneInteraction/bin
windows_kinect/KinectMicrophoneInteraction/KinectMicrophoneInteraction/obj
windows_kinect/KinectMicrophoneInteraction/packages
windows_kinect/KinectWindowsInteraction/.vs
windows_kinect/KinectWindowsInteraction/KinectWindowsInteraction/bin
windows_kinect/KinectWindowsInteraction/KinectWindowsInteraction/obj
windows_kinect/KinectWindowsInteraction/packages
windows_kinect/WindowsKinectLaunch/.vs
windows_kinect/WindowsKinectLaunch/WindowsKinectLaunch/bin
windows_kinect/WindowsKinectLaunch/WindowsKinectLaunch/obj
windows_kinect/WindowsKinectLaunch/packages
windows_kinect/KinectFaceInteraction/.vs
windows_kinect/KinectFaceInteraction/KinectFaceInteraction/bin
windows_kinect/KinectFaceInteraction/KinectFaceInteraction/obj
windows_kinect/KinectFaceInteraction/packages
windows_kinect/KinectFaceInteraction/KinectFaceInteraction.VC.db
windows_kinect/KinectFaceInteraction/KinectFaceInteraction.VC.VC.opendb
windows_kinect/KinectFaceInteraction/ipch
windows_kinect/KinectFaceInteraction/x64
windows_kinect/HaarRuntimeComponent/.vs
windows_kinect/HaarRuntimeComponent/ipch
windows_kinect/HaarRuntimeComponent/packages
windows_kinect/HaarRuntimeComponent/HaarRuntimeComponent.VC.db
windows_kinect/HaarRuntimeComponent/HaarRuntimeComponent/Debug
windows_kinect/HaarRuntimeComponent/HaarRuntimeComponent/x64
windows_kinect/HaarRuntimeComponent/HaarRuntimeComponent/x86
linux_kinect/key.txt
linux_kinect/python/*.pyc
