windows_kinect/KinectRgbdInteractionServer/.vs
windows_kinect/KinectRgbdInteractionServer/KinectRgbdInteractionServer/bin
windows_kinect/KinectRgbdInteractionServer/KinectRgbdInteractionServer/obj
windows_kinect/KinectRgbdInteractionServer/packages