<launch>
  <arg name="host" default="localhost"/>
  <arg name="optionals" default="false"/>
  <arg name="frame" default="base_link"/>
  <arg name="gpu" default="false"/>

  <node name="kinect_point_stream" pkg="linux_kinect"
        type="kinect_point_stream.py" output="screen">
     <param name="ip" value="$(arg host)"/>
     <param name="frame" value="$(arg frame)"/>
  </node>
  <node name="kinect_camerainfo_stream" pkg="linux_kinect"
        type="kinect_camerainfo_stream.py" output="screen">
     <param name="ip" value="$(arg host)"/>
     <param name="frame" value="$(arg frame)"/>
  </node>

  <node name="speech_recognition" pkg="linux_kinect"
        type="speech_recognition.py" output="screen">
     <param name="ip" value="$(arg host)"/>
  </node>
  <node name="audio_beam" pkg="linux_kinect"
        type="audio_beam.py" output="screen">
     <param name="ip" value="$(arg host)"/>
  </node>
  <node name="windows_tts" pkg="linux_kinect"
        type="tts.py" output="screen">
     <param name="ip" value="$(arg host)"/>
  </node>

  <node name="kinect_get_points" pkg="linux_kinect"
        type="kinect_get_3d.py" output="screen">
     <param name="ip" value="$(arg host)"/>
  </node>
  <node name="kinect_get_image" pkg="linux_kinect"
        type="kinect_get_image.py" output="screen">
     <param name="ip" value="$(arg host)"/>
     <param name="frame" value="$(arg frame)"/>
  </node>

  <node name="windows_ocr" pkg="linux_kinect"
        type="ocr.py" output="screen">
     <param name="ip" value="$(arg host)"/>
  </node>

  <group if="$(arg optionals)">
    <node name="face_pose_detector" pkg="linux_kinect"
          type="face_pose_detector.py" output="screen">
       <param name="ip" value="$(arg host)"/>
       <param name="gpu" value="$(arg gpu)"/>
    </node>
  </group>

  <node name="audio_stream" pkg="linux_kinect"
        type="audio_stream.py" output="screen">
     <param name="ip" value="$(arg host)"/>
  </node>

</launch>